<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHUTTLE DISBURSEMENT</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/sidebar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="sidebar">
        <a href="/">Sort By Date</a>
        <% for(let driver of drivers){ %>
            <%- `<a href=""> ${driver.lName}, ${driver.fName} </a>`%>
        <% } %>  
        <a href="/logout"> Logout </a>
    </div>

    <div class="content">
        <form action="/" method="get">
            <input id="date" name="date" type="date" value="<%= date %>">
            <button>find</button>
        </form>
        
        <% for(let driver of drivers){ %>
            <% if(driver.balanceOnDate!=0){ %> 
                <%= `${driver.lName}, ${driver.fName} = ${driver.balanceOnDate}`%>
                <%- '<br>' %>  
            <% } %> 
        <% } %> 
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>