
.sidebar{
    margin: 0;
    padding: 0;
    width: 10vw;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a{
    display: block;
}

.content{
    border: solid 1px black;
    margin-left: 10vw;
}